
.navbar.is-primary {
  background-color: #00d1b2;
  color: #fff;
  padding: 0 40px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6rem;
}  
 
.navbar-start a:hover{
color: white;
}     

.navbar {
  min-height: 6rem; 
  align-items: center;
}  

.navbar-menu {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}  
 
.navbar-start {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 40px;  
}    

.navbar-menu .navbar-start { 
  margin-right: 0; 
}

.title .navbar-brand { 
  display: flex;
  align-items: center;
  min-height: 6rem; 
}  
 
.title:not(:last-child) {
  margin-bottom: 0;
} 

.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 40px; 
}
 
.column {
  display: flex;
  justify-content: center;
}

.card-img {
  background-color: #fff;
  padding: 10px; 
  border: none;
  border-radius: 6px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);  
}

footer{
  margin-top: 15px;
}

.navbar-item {
  margin: 0 6px;
}

.title.is-3 {
  text-align: center;
  padding: 20px 0;
}
.title:not(.is-spaced) + .subtitle {
  margin-top: 0;
}

.button.is-fullwidth {
  display: flex;
  width: 80%;
  align-items: center;
  margin: 0 auto; 
  justify-content: center;
}

.card-content {
  padding: 1.2rem;  
  text-align: center;
} 
 
 .footer-volver-detail {
  margin-top: 10px;
  display: block;
}     
 
.image img {
  object-fit: cover;
  height: 300px;
} 

.image.is-1by1.image-category {
  padding-top: 0;
  width: 200px; 
  height: 200px;
    
} 
.image-category {
  margin: 0 auto; 
} 

.image.is-2by1.image-detail { 
  padding-top: 0;  
  width: 480px;    
  height: 320px;   
  margin: 0 auto;
  object-fit: cover; 
}     

.cantidad {
   text-align: center;
    font-size: 1.5rem; 
}
 
.Option{
  background-color: #222;
  color: rgb(50, 228, 169); 
  padding: 6px 12px;
  border-radius: 6px; 
}

.ActiveOption {
  background-color: aquamarine;
  color: #222; 
  padding: 6px 12px; 
  border-radius: 6px;
}

.ActiveOption:hover {
  color: #222; 
}

.numerito {
  color: white;
  font-size: .8rem;
  padding: 0 4px;
  position: absolute;
  left: 0.98rem;
  top: 1.1rem;
  border-radius: 50%;
  background-color: #222;
}

.shopping {
  position: relative;  
 }
 
.bag { 
  background-color: transparent;
  border: none;
  position: relative;
}

.NumberBag {
  position: absolute;
  background-color: red;
  color: white;
  font-weight: 500;
  padding:0 0.4rem 0.1rem;
  border: none; 
  border-radius: 50%;
} 

.NumberBagHide {
  display: none; 
}  
 
.text-pedido {
 display: flex;
} 

.container-form .content-form {
  max-width: 800px;
  margin: 0 auto; 
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
  padding: 20px 40px;  
}  

.footer-form {
  display: flex; 
  justify-content: space-around;
  align-items: center;
  margin: 40px auto; 
  max-width: 800px;  
}

.footer-volver { 
  margin: 0;
}  


@media screen and (min-width: 1024px) {
  .navbar-start {
      margin-right: 0;
  }  
}